In [60]:
print("name")

name

In [61]:
print(name)

MuHAMMad JibrAN REhaN

In [62]:
name : str = "Muhammad Jibran Rehan"

print(name)

Muhammad Jibran Rehan

In [63]:
name : str = "Muhammad Jibran Rehan"

print(type(name))
print(name)

<class 'str'>
Muhammad Jibran Rehan

In [64]:
name : str = 'Muhammad Jibran Rehan'

print(type(name))
print(name)

<class 'str'>
Muhammad Jibran Rehan

In [65]:
name : str = """Muhammad Jibran Rehan"""

print(type(name))
print(name)

<class 'str'>
Muhammad Jibran Rehan

In [66]:
message : str = "Python Students \n father's Name"
print(message)

Python Students
 father's Name

In [67]:
message : str = '"Python" Students \n father Name'
print(message)

"Python" Students
 father Name

In [68]:
message : str = """ "Python" Students \n father's Name"""
print(message)

 "Python" Students
 father's Name

In [69]:
name : str = "Muhammad Jibran Rehan"
father_name : str = "Rehan Farooq Ul Haq"
education : str = "IX"
age : int = "15"
age1 : int = str(15)

card : str = "Python Student Card\n Student Name: "+ name + "\n Age:" + age + "\n Father Name: " + father_name + "\n Education: " + education
print(card)

Python Student Card
 Student Name: Muhammad Jibran Rehan
 Age:15
 Father Name: Rehan Farooq Ul Haq
 Education: IX

In [70]:
print(7 + 8 + 2)

17

# " \\" means line continue

In [71]:
print(7 + \
      8 + \
      2)

17

## Define multi line string """ """, ''' '''

In [72]:
name : str = "Muhammad Jibran Rehan"
father_name : str = "Rehan Farooq Ul Haq"
education : str = "IX"
age : int = 15

card : str = """
Python Student Card
Student Name: ....
Father Name: .....
Education: .....
Age: .....
"""

print(card)

Python Student Card
Student Name: ....
Father Name: .....
Education: .....
Age: .....

# F string

In [73]:
name : str = "Muhammad Jibran Rehan"
father_name : str = "Rehan Farooq Ul Haq"
education : str = "IX"
age : int = 15

card : str = f"""
Python Student Card
Student Name: {name}
Father Name: {father_name}
Education: {education}
Age: {age}
Total {7 + 8 + 2}
"""

print(card)

Python Student Card
Student Name: Muhammad Jibran Rehan
Father Name: Rehan Farooq Ul Haq
Education: IX
Age: 15
Total 17

F-string and Jinja style

In [ ]:
# F-STRING STYLE
f""""
Student name {name}
"""

'"\nStudent name Muhammad Jibran Rehan\n'

In [75]:
# JINJA STYLE
""""
Student name {{name}}
"""

'"\nStudent name {{name}}\n'

In [76]:
name : str = "Muhammad Jibran Rehan"
fname : str = "Rehan Farooq Ul Haq"
education : str = "IX"
age : int = 15

card : str = f"""
Python Student Card
Student Name: %s
Father Name: %s
Age: %d
Education: %s 

""" % (name, fname, age, education)

print(card)

Python Student Card
Student Name: Muhammad Jibran Rehan
Father Name: Rehan Farooq Ul Haq
Age: 15
Education: IX

In [ ]:
[i for i in dir(name) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [2]:
a = 7
b = 8
# {} placeholder
# 
"pakistan vallue a = {} and b = {}".format(a, b)

'pakistan vallue a = 7 and b = 8'

In [77]:
name : str = "MuHAMMad JibrAN REhaN"

print(name.upper())
print(name.lower())
print(name.title())

MUHAMMAD JIBRAN REHAN
muhammad jibran rehan
Muhammad Jibran Rehan

In [ ]:
name : str = "Muhammad Jibran Rehan"
father_name : str = "Rehan Farooq Ul Haq"
education : str = "IX"
age : int = 15

card : str = """
Python Student Card
Student Name: {}
Father Name: {}
Education: {}
Age: {}
""".format(name, father_name, age, education)

print(card)

Python Student Card
Student Name: Muhammad Jibran Rehan
Father Name: Rehan Farooq Ul Haq
Education: 15
Age: IX

In [8]:
name : str = "Muhammad Jibran Rehan"
father_name : str = "Rehan Farooq Ul Haq"
education : str = "IX"
age : int = 15

card : str = """
Python Student Card
Student Name: {0}
Father Name: {1}
Education: {3}
Age: {2}
""".format(name, father_name, age, education)
#            0       1         2        3


print(card)

Python Student Card
Student Name: Muhammad Jibran Rehan
Father Name: Rehan Farooq Ul Haq
Education: IX
Age: 15

In [ ]:
name : str = "Muhammad Jibran Rehan"
father_name : str = "Rehan Farooq Ul Haq"
education : str = "IX"
age : int = 15

card : str = """
Python Student Card
Student Name: {a}
Father Name: {b}
Education: {c}
Age: {d}
""".format(a=name, b=father_name, c=education, d=age)
#            0       1         2        3


print(card)

Python Student Card
Student Name: Muhammad Jibran Rehan
Father Name: Rehan Farooq Ul Haq
Education: IX
Age: 15

# Recommended below two f-string format

In [ ]:
name : str = "Muhammad Jibran Rehan"
father_name : str = "Rehan Farooq Ul Haq"
education : str = "IX"
age : int = 15

card : str = f"""
Python Student Card
Student Name: {name}
Father Name: {father_name}
Education: {education}
Age: {age}
Total {7 + 8 + 2}
"""

print(card)

In [20]:
student_code : str = """
print("My Name is Muhammad Jibran Rehan")
a : int = 7
b : int = 8
print(a + b)
"""

exec(student_code)

My Name is Muhammad Jibran Rehan
15

# Explore String methods and attributes

pre-defined global functions we have used
* print
* type
* id
* dir
* len

In [26]:
a : list[str] = [i for i in dir(str) if "__" not in i]
print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
47

In [33]:
name : str = "Muhammad JiBRaN REhaN"

#variable_name.method()
# for capitalizing the first letter of the string
print(name)
print(name.capitalize())

Muhammad JiBRaN REhaN
Muhammad jibran rehan

In [34]:
name : str = "Muhammad JiBRaN REhaN"

#variable_name.method()
# casefold() is used to convert the string into lowercase
print(name)
print(name.casefold())

Muhammad JiBRaN REhaN
muhammad jibran rehan

In [55]:
name : str = "     Muhammad JiBRaN REhaN     "

#variable_name.method()
# for removing the white spaces from the start and end of the string
# strip() is used to remove the white spaces from the start and end of the string
#  lstrip() is used to remove the white spaces from the start of the string
#  display() is used to remove the white spaces from the end of the string
# rstrip() is used to remove the white spaces from the end of the string

print(name)
display(name)
display(name.lstrip())
display(name.rstrip())
print(name.rstrip())
print(name.lstrip())
print(name.strip())

     Muhammad JiBRaN REhaN

'     Muhammad JiBRaN REhaN     '

'Muhammad JiBRaN REhaN     '

'     Muhammad JiBRaN REhaN'

     Muhammad JiBRaN REhaN
Muhammad JiBRaN REhaN
Muhammad JiBRaN REhaN

In [69]:
import re
name : str = "     Muhammad                  JiBRaN     REhaN     "


print(name)
display(name)

name1 : str = re.sub(" {2,100}"," ", name)
print(name1)
display(name1)
name2 : str = re.sub(" {2,100}"," ", name.strip())
print(name2)
display(name2)

     Muhammad                  JiBRaN     REhaN

'     Muhammad                  JiBRaN     REhaN     '

 Muhammad JiBRaN REhaN

' Muhammad JiBRaN REhaN '

Muhammad JiBRaN REhaN

'Muhammad JiBRaN REhaN'

In [ ]:
first_name : str = "Muhammad Jibran"
last_name : str = "Rehan"
full_name : str = f"{first_name} {last_name}"
print(full_name)

Muhammad Jibran Rehan
Muhammad    Jibran    Rehan

In [82]:
notstrarch_url : str = "https://notstarach.com"
notstrarch_url.removeprefix('https://')

'notstarach.com'